# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2019
.vs/
.vs/OpenBalthazar.API/v16/.suo
#OpenBalthazar.API/obj/Debug/netcoreapp3.1/OpenBalthazar.API.csprojAssemblyReference.cache
*.cache
OpenBalthazar.API.Solidity/obj/Debug/netcoreapp3.1/OpenBalthazar.API.Solidity.csprojAssemblyReference.cache
OpenBalthazar.API.Vyper/obj/Debug/netcoreapp3.1/OpenBalthazar.API.Vyper.csprojAssemblyReference.cache
